<div class="product-categories">
  <div class="product-category product-category--mattresses">
    <a href="#" class="product-category__content link">
      <p
        class="product-category__title wow animate__animated animate__fadeInUp"
      >
        МАТРАСЫ
      </p>
      <p
        class="product-category__description wow animate__animated animate__fadeInUp"
      >
        Более 100 моделей матрасов для Вашего комфортного сна
      </p>
    </a>
  </div>
  <div class="product-category product-category--beds">
    <a href="#" class="product-category__content link">
      <p
        class="product-category__title wow animate__animated animate__fadeInUp"
      >
        КРОВАТИ
      </p>
      <p
        class="product-category__description wow animate__animated animate__fadeInUp"
      >
        Более 100 моделей кроватей для Вашего комфортного сна
      </p>
    </a>
  </div>
  <div class="product-category product-category--accessories">
    <a href="#" class="product-category__content link">
      <p
        class="product-category__title wow animate__animated animate__fadeInUp"
      >
        АКСЕССУАРЫ
      </p>
      <p
        class="product-category__description wow animate__animated animate__fadeInUp"
      >
        Более 100 моделей кроватей для Вашего комфортного сна
      </p>
    </a>
  </div>
</div>
