.header-desktop {
  box-shadow: 0px 0 35px 0px rgba(0, 0, 0, 0.1);
}
.header-main {
  padding: 20px 0 14px;
  border-bottom: 1px solid var(--color-background);
  &__tools {
    gap: 40px;
  }
  &__tools-button {
    @include no-btn;
    &:hover {
      use {
        stroke: var(--color-black);
      }
    }
  }
  &__tools-svg {
    width: 23px;
    height: 23px;
  }
}
.header-nav {
  padding: 15px 0;
  &__contacts {
    gap: 5px;
  }
  &__tel {
    @include btn_anim;
    font-family: 'TT Norms Pro';
    color: var(--color-black);
    font-size: 18px;
    font-weight: 500;
  }
  &__mail {
    @include btn_anim;
    color: var(--color-black);
    font-size: 18px;
    text-decoration-line: underline;
  }
}

@media (max-width: 1400px) {
  .header {
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .header-desktop {
    display: none;
  }
}
