<nav class="menu flex --align-center">
  <div class="menu-burger">
    <button type="button" class="menu-burger__button --svg__burger">
      <span class="menu-burger__svg --svg__burger"></span>КАТАЛОГ
    </button>
  </div>
  <ul class="menu__list flex --align-center">
    <li class="menu__item">
      <a class="menu__link link" href="#">МАТРАСЫ</a>
    </li>
    <li class="menu__item">
      <a class="menu__link link" href="#">КРОВАТИ</a>
    </li>
    <li class="menu__item">
      <a class="menu__link link" href="#">АКСЕССУАРЫ</a>
    </li>
    <li class="menu__item">
      <a class="menu__link link" href="#">РАСПРОДАЖА</a>
    </li>
    <li class="menu__item">
      <a class="menu__link link" href="#">КОНТАКТЫ</a>
    </li>
    <li class="menu__item">
      <a class="menu__link link" href="#">Доставка и оплата</a>
    </li>
    <li class="menu__item">
      <a class="menu__link link" href="#">Партнерам</a>
    </li>
  </ul>
</nav>
