<div class="catalog-nav animate__animated">
  <div class="container">
    <div class="tabs" data-tabs="tab">
      <div class="tabs__buttons">
        <h3 class="tabs__title">каталог</h3>
        <ul class="tabs__nav">
          <li class="tabs__nav-item">
            <button
              class="tabs__nav-btn flex animate__animated"
              type="button"
              aria-selected="true"
            >
              @@include('../_sprite.html',{'class':'tabs__nav-item-svg','id':'sprite--mattress'})
              Матрасы
            </button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn flex animate__animated" type="button">
              @@include('../_sprite.html',{'class':'tabs__nav-item-svg','id':'sprite--bed'})
              Кровати
            </button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn flex animate__animated" type="button">
              @@include('../_sprite.html',{'class':'tabs__nav-item-svg','id':'sprite--pillow'})
              Аксессуары
            </button>
          </li>
        </ul>
      </div>
      <div class="tabs__content">
        <button class="tabs__content-close --svg__close"></button>
        <div class="tabs__panel">
          <button class="tabs__panel-title">матрасы</button>

          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы с независимым пружинным блоком Поллинг</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы на пружинном блоке Боннель</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Беспружинные матрасы</a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Круглые матрасы</a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы с независимым пружинным блоком Мультипакет</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Индивидуальные матрасы</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Детские матрасы</a>
            </li>
          </ul>
        </div>
        <div class="tabs__panel">
          <p class="tabs__panel-title">Кровати</p>
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы с независимым пружинным блоком Поллинг</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы на пружинном блоке Боннель</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Беспружинные матрасы</a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Круглые матрасы</a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы с независимым пружинным блоком Мультипакет</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Индивидуальные матрасы</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Детские матрасы</a>
            </li>
          </ul>
        </div>
        <div class="tabs__panel">
          <p class="tabs__panel-title">Аксессуары</p>
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы с независимым пружинным блоком Поллинг</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы на пружинном блоке Боннель</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Беспружинные матрасы</a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Круглые матрасы</a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Матрасы с независимым пружинным блоком Мультипакет</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#"
                >Индивидуальные матрасы</a
              >
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link link" href="#">Детские матрасы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
