<article class="product-card swiper-slide">
  <a class="product-card__link" href="#">
    <img
      class="product-card__image"
      src="./img/cardProduct/cartItem.png"
      alt="Кровать"
    />
  </a>
  <button
    type="button"
    class="product-card__favorite-button --svg__favorites --svg__hoverlike-after"
    data-tooltip="Добавить в избранное"
  ></button>
  <div class="product-card__content">
    <div class="product-card__price-info flex --just-space">
      <div class="product-card__price-group flex --align-center">
        <p class="product-card__price-discount">14 894 ₽</p>
        <p class="product-card__price-original">34 993 ₽</p>
      </div>
      <span class="product-card__discount">-57%</span>
    </div>
    <p class="product-card__name">Кровать Avril</p>
    <button class="product-card__buy-btn" type="button">Купить</button>
  </div>
</article>
