.group {
  &__button {
    @include no-btn;
    position: absolute;
    z-index: 2;
    color: #fff;
    font-family: 'TT Norms Pro';
    font-weight: 400;
    font-size: 24px;
    line-height: 147.3%;
    width: 182px;
    height: 182px;
    padding: 62px 26px 50px 27px;
    border-radius: 50%;
    border: 1.5px solid var(--color-blackPearl);
    transition: all 5s ease;
    &:hover {
      border-color: var(--color-basic);
      + .group__circle {
        left: 0;
        background-color: var(--color-basic);
      }
    }
  }
  &__circle {
    display: block;
    position: relative;
    left: 26px;
    z-index: 1;
    width: 182px;
    height: 182px;
    background-color: #237284;
    border-radius: 50%;
    transition: all 0.5s ease;
  }
}
