.sidebar {
  height: 0;
  padding: 20px 10px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  &__content {
    margin-bottom: 20px;
  }
  &__content--body {
    border-bottom: 1px dashed var(--color-grey);
  }
  &__navlinks {
    ul {
      display: block;
    }
    a {
      width: 100%;
      letter-spacing: 1px;
      opacity: 0.8;
      padding: 10px;
    }
  }
  &__content--foot {
    display: grid;
  }
  &__link {
    color: var(--color-catalog);
    padding: 10px;
    text-transform: uppercase;
    &:hover {
      color: var(--color-basic);
    }
  }
  &--show {
    height: 100vh;
    background: var(--color-background);
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1400px) {
  .sidebar {
    &__link {
      padding: 20px;
      font-size: 24px;
    }
    &__navlinks {
      a {
        padding: 20px;
        font-size: 24px;
      }
    }
  }
  .search {
    max-width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    &__link {
      padding: 18px 0;
      font-size: 22px;
    }
    &__navlinks {
      a {
        padding: 18px 0;
        font-size: 22px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .search {
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .sidebar {
    padding: 20px 10px;
    &__link {
      padding: 10px;
      font-size: 18px;
    }
    &__navlinks {
      a {
        padding: 10px;
        font-size: 18px;
      }
    }
  }
}
