:root {
  --color-basic: #235984;
  --color-secondary: #237284;
  --color-blackPearl: #152d53;
  --color-background: #e9eff3;
  --color-black: #000;
  --color-grey: #8c8c8c;
  --color-title: #1e1e1e;
  --color-footer: #666666;
  --color-catalog: #635b5b;
}
