<section class="bestsellers">
  <div class="container">
    <div class="swiper">
      <h2 class="bestsellers__title">ХИТЫ ПРОДАЖ</h2>
      <div class="swiper-wrapper">
        @@include('../bem-blocks/product-card/_product-card.html')
        @@include('../bem-blocks/product-card/_product-card.html')
        @@include('../bem-blocks/product-card/_product-card.html')
        @@include('../bem-blocks/product-card/_product-card.html')
        @@include('../bem-blocks/product-card/_product-card.html')
        @@include('../bem-blocks/product-card/_product-card.html')
      </div>
      <div class="swiper-button-prev">
        @@include('../bem-blocks/_sprite.html',{'class':'swiper-button-prev__svg','id':'sprite--swiper-prev'})
      </div>
      <div class="swiper-button-next">
        @@include('../bem-blocks/_sprite.html',{'class':'swiper-button-next__svg','id':'sprite--swiper-prev'})
      </div>
    </div>
  </div>
</section>
