<footer class="footer">
  <div class="container">
    <div class="footer__wrapper flex --just-space">
      <div
        class="footer__info wow animate__animated animate__bounceInUp flex --dir-col"
      >
        @@include('../bem-blocks/logo/_logo.html')
        <a class="footer__info-phone link" href="tel:+74957872747"
          >+7 (495) 787-27-47</a
        >
        <a class="footer__info-email link" href="mailto:info@matras.ru"
          >info@matras.ru</a
        >
        <p class="footer__info-production">
          Наше производство: Московская обл., Ленинский р-н, д. Мыльная
        </p>
      </div>
      <div class="footer__menu flex">
        <div
          class="footer__menu-category wow animate__animated animate__bounceInUp"
        >
          <p class="footer__menu-title">Матрасы</p>
          <ul class="footer__menu-list ac-text flex --dir-col">
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Матрасы с независимым пружинным блоком</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Матрасы с пружинным блоком Поллинг</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Каталог матрасов с пружинным блоком Мультипакет</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Матрасы на пружинном блоке Боннель</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Беспружинные матрасы</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#">Круглые матрасы</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#">Детские Матрасы</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Индивидуальные матрасы</a
              >
            </li>
          </ul>
        </div>
        <div
          class="footer__menu-category wow animate__animated animate__bounceInUp"
        >
          <p class="footer__menu-title">аксессуары</p>
          <ul class="footer__menu-list ac-text flex --dir-col">
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#">Подушки</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#">Одеяла</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Защитные наматрасники</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Выравнивающие наматрасники, топперы</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#">Пуфики, банкетки</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#"
                >Водонепроницаемые наматрасники</a
              >
            </li>
          </ul>
        </div>
        <div
          class="footer__menu-category wow animate__animated animate__bounceInUp"
        >
          <p class="footer__menu-title">кровати</p>
          <ul class="footer__menu-list ac-text flex --dir-col">
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#">Круглые кровати</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="#">Интерьерные кровати</a>
            </li>
          </ul>
        </div>
        <div
          class="footer__menu-category wow animate__animated animate__bounceInUp"
        >
          <ul
            class="footer__menu-list ac-text footer__menu-items flex --dir-col"
          >
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--nav link" href="#"
                >распродажа</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--nav link" href="#"
                >о нас</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--nav link" href="#"
                >контакты</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--nav link" href="#"
                >доставка и оплата</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--nav link" href="#"
                >партнерам</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    @@include('../bem-blocks/accordion-footer/_accordion-footer.html')
  </div>
</footer>
