<div class="accordion-container">
  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">МАТРАСЫ</button>
    </h2>
    <div class="ac-panel"></div>
  </div>
  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">АКСЕССУАРЫ</button>
    </h2>
    <div class="ac-panel"></div>
  </div>
  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">КРОВАТИ</button>
    </h2>
    <div class="ac-panel"></div>
  </div>
  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger">ПОДРОБНЕЕ</button>
    </h2>
    <div class="ac-panel"></div>
  </div>
</div>
