<div class="mattress-promo animate__animated animate__fadeIn">
  <div
    class="mattress-promo__box flex --dir-col animate__animated animate__fadeInLeft"
  >
    <h1 class="mattress-promo__title">
      ЛУЧШИЕ МАТРАСЫ<br />
      ДЛЯ ВАШЕГО КОМФОРТА
    </h1>
    <p class="mattress-promo__text">
      Матрас – это один из самых важных элементов для нашего комфорта и здоровья
      во время сна. Он выполняет несколько функций, таких как поддержка тела,
      снижение давления на позвоночник, уменьшение болевых ощущений<br />
      и расслабление мышц
    </p>
    <div class="mattress-promo__button-group">
      <button class="mattress-promo__button" type="button">
        Связаться <br />с нами
      </button>
      <div class="mattress-promo__circle"></div>
    </div>
  </div>
  <img
    class="mattress-promo__image animate__animated animate__fadeInRight"
    src="./img/preview/info-connect.png"
    alt="МАТРАСЫ"
  />
</div>
