<div class="header-mobile">
  <div class="header-mobile__top flex --align-center --just-space">
    <button class="header-mobile__button"></button>
    @@include('../logo/_logo.html')
    <div class="header-main__tools flex">
      <button class="header-main__tools-button main__tools-call">
        @@include('../_sprite.html',{'class':'header-main__tools-svg','id':'sprite--phone'})
      </button>
      <button class="header-main__tools-button">
        @@include('../_sprite.html',{'class':'header-main__tools-svg','id':'sprite--cart'})
      </button>
    </div>
  </div>
  @@include('../sidebar/_sidebar.html')
</div>
