.thanks {
  position: fixed;
  opacity: 0;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
  &__content {
    max-width: 848px;
    position: relative;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 64px 120px 64px;
    border-radius: 10px;
  }
  &__title {
    color: var(--color-blackLite);
    text-align: center;
    font-family: 'TT Norms Pro';
    font-size: 36px;
    font-weight: 500;
    line-height: 157.8%; /* 56.808px */
    text-transform: uppercase;
    margin-bottom: 39px;
  }
  &__text {
    max-width: 359px;
    color: var(--color-text);
    text-align: center;
    font-family: 'TT Norms Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    margin: 0 auto 69px;
  }
  &__button {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    border: 1.42px solid #235984;
    background: #235984;
    color: #fff;
    font-family: 'TT Norms Pro';
    font-size: 24px;
    font-weight: 400;
    line-height: 147.3%;
  }
  &--active {
    opacity: 1;
    z-index: 15;
  }
}
@media screen and (max-width: 1024px) {
  .thanks {
    &__title {
      font-size: 30px;
    }
    &__text {
      font-size: 20px;
      margin-bottom: 60px;
    }
  }
}
@media screen and (max-width: 768px) {
  .thanks {
    &__content {
      padding: 40px 15px;
    }
    &__title {
      font-size: 28px;
    }
  }
}
@media screen and (max-width: 480px) {
  .thanks {
    &__title {
      font-size: 22px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 17px;
      margin-bottom: 40px;
    }
    &__content {
      padding: 25px 15px;
    }
    &__button {
      font-size: 20px;
      height: 50px;
    }
  }
}
