.modal {
  position: fixed;
  opacity: 0;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
  &__title {
    color: var(--color-blackLite);
    text-align: center;
    font-family: 'TT Norms Pro';
    font-size: 36px;
    font-weight: 500;
    line-height: 157.8%; /* 56.808px */
    text-transform: uppercase;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 26px;
    right: 26px;
    width: 32px;
    height: 32px;
  }
  &__content {
    max-width: 910px;
    position: relative;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 165px 40px;
    border-radius: 10px;
  }
  &__form {
    max-width: 581px;
    margin: 0 auto;
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-blackLite);
    padding: 30px 13px 4px;
    color: var(--color-grey);
    font-family: 'TT Norms Pro';
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
  }
  &__submit {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    border: 1.42px solid #235984;
    background: #235984;
    color: #fff;
    font-family: 'TT Norms Pro';
    font-size: 24px;
    font-weight: 400;
    line-height: 147.3%;
  }
  &--active {
    opacity: 1;
    z-index: 15;
  }
}
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 30px 0 20px;
  &__input {
    position: absolute;
    width: 0;
  }
  &__box {
    width: 28px;
    height: 28px;
  }
  &__link {
    color: #237284;
    font-size: 16px;
  }
  &__underline {
    text-decoration: underline;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    &__content {
      padding: 40px 15px;
    }
    &__title {
      font-size: 28px;
    }
  }
}
@media screen and (max-width: 576px) {
  .product-category {
    &:hover {
      .product-category__content {
        bottom: 35px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .modal {
    &__close {
      top: 28px;
      right: 15px;
      width: 28px;
      height: 28px;
    }
    &__title {
      text-align: left;
      font-size: 22px;
    }
    &__content {
      padding: 25px 15px;
    }
    &__input {
      font-size: 16px;
    }
    &__submit {
      font-size: 20px;
      height: 50px;
    }
  }
  .custom-checkbox {
    &__link {
      font-size: 12px;
    }
  }
}
